@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > i {
  color: $subTitle;
}

.software-skill-inline > i:hover {
  color: $skillsColor;
}
.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
}
.software-skill-inline > i:hover ~ p {
  color: $skillsColor;
}

.software-skill-inline > img {
  height: 3rem; // match .dev-icons font-size
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.3rem; // tweak this to visually align with FA icons
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.software-skill-inline > img:hover {
  filter: grayscale(0%);
}


.software-skill-inline > img:hover ~ p {
  color: $skillsColor;
}

